app = "pluscontable-api"
primary_region = "scl"

[build]
  image = "pluscontable-api:latest"

[env]
  FLASK_ENV = "production"
  PYTHONUNBUFFERED = "1"

[[services]]
  protocol = "tcp"
  internal_port = 5000
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.http_checks]
    enabled = true
    interval = 10000
    timeout = 5000
    grace_period = "5s"
    method = "get"
    path = "/health"
