services:
  - type: web
    name: pluscontable-api
    runtime: docker
    region: oregon
    plan: free
    dockerfile: ./Dockerfile
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    healthCheckPath: /health
    envVars:
      - key: FLASK_ENV
        value: production
      - key: PYTHONUNBUFFERED
        value: "1"
      - key: PORT
        value: "5000"
